/* 
	 ====================================
		Reset CSS
	 ====================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
	 ====================================
		CSS I want 
	 ====================================
*/

/* layout config */
*,*:before, *:after{
	box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.header, .profile, .education, .work {
    width: 1200px;
    margin: 0 auto;
}

/* header */
.header h1 {
    margin-top: 47px;
    padding-bottom: 17px;
    border-bottom: 2px solid black;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

.header img {
    width: 324px;
    height: 324px;
    margin-top: 48px;
    margin-bottom: 48px;
}

/* content */
.profile, .education, .skill, .work {
    margin-bottom: 72px;
}

.profile h2, .education h2, .work h2 {
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 16px;
}

.profile span, .education span, .work span {
    font-weight: 500;
    font-size: 24px;
    color: #A00404;
    padding-left: 16px;
}

.profile li, .education li {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 36px;
}

.skill{
    background: #415165 0% 0% no-repeat padding-box;
    color: white;
    padding-top: 24px;
    padding-bottom: 36px;
}

.skill .skill-container {
    width: 996px;
    margin: 0 auto;
    text-align: center;
}

.skill h2 {
    font-size: 32px;
    border-bottom: 1px solid white;
    padding-bottom: 8px;
}

.skill span {
    font-weight: 500;
    font-size: 24px;
    padding-left: 16px;
}

.skill ul {
    display: inline-block;
    border-left: 1px solid #96A9C4;
    padding-left: 24px;
    margin-top: 40px;
}

.skill li {
    text-align: left;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

.work ul {
    border-left: 1px solid #96A9C4;
    margin-left: 24px;
    padding-left: 24px;
    width: 642px;
}

.work ul li {
    font-size: 24px;
    margin-bottom: 24px;
}

.work ul li img {
    width: 90px;
    height: 90px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.work ul li p {
    font-size: 20px;
    line-height: 30px;
}

/* footer */
.footer {
    background: #415165 0% 0% no-repeat padding-box;
    color: white;
    padding-top: 24px;
    padding-bottom: 36px;
}

.footer .footer-container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.footer h2 {
    font-size: 32px;
    padding-bottom: 8px;
    border-bottom: 1px solid white;
    margin-bottom: 40px;
}
.footer span {
    font-size: 24px;
    padding-left: 16px;
}

.footer ul li {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 16px;
}

.footer ul li a {
    color: white;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.footer .social-media {
    margin-left: auto;
    margin-right: auto;
}

.footer .social-media img {
    height: 48px;
    width: 48px;
    margin-left: 12px;
    margin-right: 12px;
}

.footer .social-media img:hover {
    height: 52px;
    width: 52px;
}






